*{margin: 0px}
#body{
	margin-top: 20px;
	
}
#contain{
	width: 968px;
	height: 100px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
#header{
	width: 968px;
	height: 100px;
	position: static;
	margin-right: auto;
	margin-left: auto;
	float: left;
	border-radius: 10px;
	border: thin solid #8E8E8E;
}
	#h-l{
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 10px;
	background-size: contain;
	text-align: right;
	}
    #h-m{
	width: 690px;
	height: 50px;
	float: left;
	font-size: 50px;
	line-height: 80px;
	color: #FF0004;
	padding-top: 20px;
	text-shadow: 0px 0px 37px #FFFFFF;
	text-align: center;
	font-family: "楷体";
		}
  
	#h-r{
	width: 160px;
	height: 100px;
	float: left;
	text-shadow: 0px 0px 30px;
	text-align: right;
	border-radius: 10px;
}








#neck{
	width: 968px;
	height: 50px;
	float: left;
	border-radius: 10px;
	border-left-color: #8E8E8E;
	border-right-color: #8E8E8E;
	border-bottom-color: #8E8E8E;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
}#n-l{
	width: 140px;
	height: 50px;
	float: left;
	text-align: center;
	font-size: 20px;
	line-height: 50px;
	color: #FF0004;
}#n-m{
	width: 660px;
	height: 50px;
	float: left;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	color: #FF0004;
}#n-r{
	width: 168px;
	height: 50px;
	float: left;
	text-align: center;
	color: #000000;
	line-height: 25px;
	font-size: 12px;
}




#shoulder{
	float: left;
	height: 163px;
}
.menu{
	height: 150px;
	width: 238px;
	margin-left: 2px;
	float: left;
	text-align: center;
	border-radius: 5px;
	color: #FF0101;
	border-left: thin solid #8E8E8E;
	border-right: thin solid #8E8E8E;
	border-bottom: thin solid #8E8E8E;
	margin-top: 2px;
	line-height: 150px;
	font-size: 50px;
	padding-top: 10px;
}





#bodies{
	width: 968px;
	height: 1100px;
	float: left;
	border-radius: 10px;
	border-left-color: #8E8E8E;
	border-right-color: #8E8E8E;
	border-bottom-color: #8E8E8E;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
}
#b-t{
	width: 968px;
	height: 968px;
	float: left;
	background-image: url(images/%E7%88%B1%E5%BF%83%E5%B1%8B%E5%B9%B3%E9%9D%A2%E5%9B%BE.jpg);
	background-size: contain;
}

#b-b{
	height: 80px;
	width: 968px;
	float: left;
	line-height: 50px;
	font-size: 35px;
	text-align: center;
}
